.password-container {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 10px;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0.6rem 1rem;
    border-width: 2px;
    border-color: #858585;
    min-width: 220px;
    max-width: 220px;
    
}

.input-password {
    border: none;
    
}

.button-eye {
    background: none;
    outline: none;
    border: none;
    color: #555555;
}